tgcrypto
asyncio
ffmpeg-python

git+https://github.com/pyrogram/pyrogram@master
youtube-search-python


git+https://github.com/JorDenXD/download
youtube-search
python-dotenv
dnspython
gitpython
aiofiles
aiohttp
requests
pillow
motor
psutil
future
wget
lyricsgenius

skem
