pyrogram
tgcrypto
git+https://github.com/ABHI-xd/calls
python-dotenv
requests
aiohttp
aiofiles
asyncio
youtube-search
pillow
future
psutil
wget
ffmpeg-python
git+https://github.com/JorDenXD/download
heroku3
motor
dnspython
